<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <configSections>
        <section name="meowSettings" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
  <appSettings>
    <add key="Grade1" value="a;b;c;d;e;g;h"/>
    <add key="Grade2" value="a;b;c;d;e;g;h;k"/>
    <add key="Grade3" value="a;b;c;d;g;h;k"/>
    <add key="Grade4" value="a;b;c;d;g;h"/>  
    <add key="Grade5" value="a;b;c;g;h"/>
    <add key="Grade6" value="a;b;c;g"/>
    <add key="Grade7" value="a;b;g"/>
    <add key="Grade8" value="a;b;g"/>
  </appSettings>
  <meowSettings>
    <add key="kitty" value="meow"/>
  </meowSettings>
</configuration>